[submodule "lxfs"]
	path = lxfs
	url = https://github.com/lux-operating-system/lxfs
[submodule "boot-x86_64"]
	path = boot-x86_64
	url = https://github.com/lux-operating-system/boot-x86_64
[submodule "toolchain-x86_64"]
	path = toolchain-x86_64
	url = https://github.com/lux-operating-system/toolchain-x86_64
[submodule "kernel"]
	path = kernel
	url = https://github.com/lux-operating-system/kernel
[submodule "lucerna"]
	path = lucerna
	url = https://github.com/lux-operating-system/lucerna
